{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4 text-center">Detalle de la Reserva</h2>


<div class="row justify-content-center">
    {% for r in reserva %}
    {% if r.id_sala.id_sala == sala.id_sala %}
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                Reserva #{{ r.id_reserva }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Sala: {{ sala.nombre_sala }}</h5>
                <p class="card-text">
                    <strong>Fecha de inicio:</strong> {{ r.fecha_inicio|date:"d/m/Y H:i" }} <br>
                    <strong>Fecha de término:</strong> {{ r.fecha_termino|date:"d/m/Y H:i" }}
                </p>
                <div class="d-flex justify-content-center">
                <a href="{% url 'index' %}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
        <tr>
            <td colspan="5" class="text-center">No hay reservas para esta sala.</td>
            <div class="d-flex justify-content-center">
            <a href="{% url 'index' %}" class="btn btn-secondary w-auto">Volver</a>
            </div>
        </tr>
    {% endfor %}
</div>

{% endblock %}
